    /*
			NOTE: Commenting is a bit different in CSS. 
		  They start with forward-slash + asterisk 
		  and end with back-slash + asterisk.ba
		  */

    h1 {
      color: yellow;
      font-weight: 900;
      padding:10px;
    }

    h2 {
      color: whitesmoke;
      padding:10px;
      font-size: 28px;
    }

    h3 {
      color: lightgray;
      padding:10px;
    }
    

    body{
      background-color:seagreen;
    }

    #questions, #results {
      font-family: Verdana;
      font-size: 50px;
      color: whitesmoke;
    
      /* Visual */
      background: seagreen;
      margin-bottom: 20px;
    }

    #tester{
      color: white;
      font-size: 70px;
      margin-bottom:20px;
    }

    #display {
      font-family: Verdana;
      font-size: 70px;
      color: ghostwhite;
    
      /* Visual */
      background: seagreen;
      margin-bottom: 10px;
    }
    
    #wrapper   { /* Typography */
      text-align: center;
    }

    button {
      background: teal;
      border: seagreen;
      color: whitesmoke;
      text-align: center;
      width: 100px;
      /* Box-model */
      height: 50px;
      margin-bottom: 10px;
    }
